.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  padding: 10px;
  border-bottom: 2px 
}

.header-text {
  flex-grow: 1;
  text-align: center;
  margin: 0;
  font-size: 1.5em;
  color: #333;
}

.left-button,
.right-button {
  padding: 0em;
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
  align-items: center;
  background-color: #fc403d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 6em;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.left-button:hover,
.right-button:hover {
  background-color: #d33731;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.wide-grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  width: 60%;
  height: 80%;
}

.wide-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 5em;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.wide-grid-item:hover {
  background-color: #0056b3;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  width: 100%;
  height: 100%;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0em;
  font-size: 4em;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.grid-item:hover {
  background-color: #0056b3;
}

.current-day {
  background-color: green;
  transition: background-color 0.3s ease;
}

.current-day:hover {
  background-color: darkgreen;
}